/*=== GLOBAL VARIABLE ===*/
:root {
  --themeColor: #B4DAE3;
  --bgColor: #FFFFFF;
  --sideBGColor: #C5C3C6;
  --iconBGColor: #BCBCBC;
  --textColor: #121212;
}

.hero-section {
  background: url(../images/nubelson-fernandes-keybord-BW.jpg) scroll no-repeat center center / cover;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

/*=== START OF HEADLINE SECTION ===*/
.hero-section .head-line {
  position: absolute;
  z-index: 100;
  text-align: center;
  margin-top: 5.7rem;

}
.hero-section .head-line h1 {
  font-size: 4.3rem;
  font-weight: 100;

}
.head-line h1 div:not(:last-child) {
  margin-bottom: 1.2rem;
}
.head-line h1 div:last-of-type {
  font-weight: 700;
  letter-spacing: 2.5px;

}
.head-line .headline-message {
  /* margin-top: 4rem;
  margin-bottom: 6.5rem; */
  margin: 4rem 0 6.5rem;
  font-size: 1.5rem;
  letter-spacing: 3px;
}
.head-line .hire-me-btn {
  background-color: var(--textColor);
  color: var(--bgColor);
  transition: 0.3s;
  font-size: 1.5rem;
  padding: .8em 1.6em;
  border-radius: 3px;
}
.head-line .hire-me-btn:hover {
  background-color: var(--themeColor);
}

/*=== END OF HEADLINE SECTION ===*/

/*=== OVERLAY SECTION ===*/
.hero-section .over-lay {
  position: absolute;
  background-color: rgb(255 255 255 / 69%);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

}


/*=== TABLET VIEW ===*/
@media screen and (min-width: 600px) and (max-width: 920px) {
  .hero-section .head-line {
    margin-top: 38%;
  }

}

/*=== DESKTOP VIEW ===*/
@media screen and (min-width: 920px) {
  .hero-section {
    /* align-items: center; */
  }
  .hero-section .head-line {
    margin-top: 8%;
  
  }
  .head-line .headline-message {
    margin-bottom: 4.7rem;
  }
}


